
$index: calc((1vw + 1vh) * .6);
$fullWidth: 100vw;
$fullHeight: 100vh;


// Colors
$background: #000;
$primary-color: #1A1A1A;
$primary-elevated-color: #333;
$secondary-color: #E5E5EA;
$accent-color: #fff;

$text-color: $secondary-color;

// Radius
$radius: calc($index * 1.4);

// Border
$border: 1px solid $primary-elevated-color;

// Shadow
$shadow: 0 0 $index rgba(#000, .25);

// Gap
$gap: $index;
$gap-s: 16px;
$gap-m: 24px;
$gap-l: 36px;

// Padding
$padding: $index;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 36px;

// Font
$font-family: "Jost", sans-serif;

// Transition
$transition: all .2s ease-in-out;