// Home Page

@import "@/app/styles/variables";
@import "@/app/styles/mixins";


.section {
  width: 100%;
  display: flex;
  gap: $gap;
}

.header {
  display: flex;
  align-items: center;
}

.boxMusic {
  display: flex;
  gap: $gap;
  font-size: 18px;
}
.boxMusic_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.link {
  @include box($w: 220px, $h: 56px,$p: 0, $bg: transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
  user-select: none;
  &:hover {
    @include box-active;
  }
}

.section_center {
  height: 100%;
  transition: all .2s ease-in-out;
}





