// Home Page

@use "@/app/styles/variables" as *;

.boxMusic {
  display: flex;
  gap: $gap;
  font-size: 18px;
}
.boxMusic_header {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
}
.link {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
  user-select: none;
  color: $subtext-color;
  @include button;
  transition: $transition;
  &:hover {
    color: $text-color;
  }
}

.section_center {
  height: 100%;
  transition: all .2s ease-in-out;
}

.section_music {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: $gap;
}




