@use "@/app/styles/variables" as *;

.box {
	padding: $padding;
	border-radius: $radius;
	@include bg-glass;
	// background: $primary-color;
	// border: $border;
	transition: $transition;
	// * {
	// 	border-radius: calc($radius - $padding);
	// }
}